body {
	background-color: #060928;
	color: #ddd;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.newtype {
	font-family: 'Newtype';
	font-weight: normal;
	font-style: normal;
}

header {
	background-color: #472584;
}

.text-primary {
	color: #7D41EA !important;
}

.text-secondary {
	color: #908FAA !important;
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: #7D41EA;
	--bs-btn-border-color: #7D41EA;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #472584;
	--bs-btn-hover-border-color: #472584;
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #472584;
	--bs-btn-active-border-color: #472584;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #7D41EA;
	--bs-btn-disabled-border-color: #7D41EA;
}

.btn-outline-primary {
    --bs-btn-color: #7D41EA;
    --bs-btn-border-color: #7D41EA;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7D41EA;
    --bs-btn-hover-border-color: #7D41EA;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #7D41EA;
    --bs-btn-active-border-color: #7D41EA;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #7D41EA;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #7D41EA;
    --bs-gradient: none;
}

.bg-navy {
	background-color: #11134C;
}

.bg-primary {
	background-color: #7D41EA !important;
}

.bg-secondary {
	background-color: #494A7D !important;
}

.bg-success {
	background-color: #2DB27C;
}

.border-primary {
    --bs-border-opacity: 1;
    border-color: #7D41EA !important;
}

.border-secondary {
    --bs-border-opacity: 1;
    border-color: #494A7D !important;
}

.border-primary-subtle {
    border-color: #472584 !important;
}

img.logo {
	height: 50px;
}

.txt-presale {
	font-size: 1.5rem;
}

/*-- STAGE OFF --*/
.stage {
	border-bottom: 4px solid #494A7D;
}

.stage:first-child {
	border-bottom-left-radius: 0.375rem;
}

.stage:last-child {
	border-bottom-right-radius: 0.375rem;
}

.stage .ico {
	background-color: #494A7D;
	padding: 3px 6px 6px 6px;
	border-radius: 100%;
	height: 32px;
	width: 32px;
}

.stage .ico img {
	width: 20px;
	height: 20px;
}

.stage .txt {
	color: #908FAA;
}

/*-- STAGE ON --*/
.stage-active {
	border-bottom: 4px solid #2DB27C;
}

.stage-active:first-child {
	border-bottom-left-radius: 0.375rem;
}

.stage-active:last-child {
	border-bottom-right-radius: 0.375rem;
}

.stage-active .ico {
	background-color: #2DB27C;
	padding: 3px 6px 6px 6px;
	border-radius: 100%;
	height: 32px;
	width: 32px;
}

.stage-active .ico img {
	width: 20px;
	height: 20px;
}

.stage-active .txt {
	color: #fff;
}

.step {
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	font-size: 1.25rem;
	font-weight: 500;
}

.form-control {
    display: block;
    width: 100%;
    padding: .75rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
	border-color: #472584;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:disabled {
    background-color: #130F3A !important;
    opacity: 1;
	color: #dee2e6 !important;
}

.form-control:focus {
	background-color: rgb(33,37,41);
	color: #dee2e6;
}

.form-control::placeholder {
	color: #dee2e6 !important;
}

.form-select {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    width: 100%;
    padding: .75rem 2.25rem .75rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
	border-color: #472584;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select option {
	color: black !important;
}

.form-check-input:checked {
    background-color: #7D41EA;
    border-color: #7D41EA;
}

footer {
	background: rgb(17,19,76);
background: linear-gradient(180deg, rgba(17,19,76,0.4) 0%, rgba(17,19,76,0) 100%);
}


@media only screen and (max-width: 600px) {
	img.logo {
		height: 32px;
	}

	.txt-presale {
		font-size: 1rem;
	}

	.stage .txt,
	.stage-active .txt {
		font-size: .75rem;
	}

	.step {
		width: 36px;
		height: 36px;
		text-align: center;
		line-height: 36px;
		font-size: 1rem;
		font-weight: 500;
	}

	.steps h6 {
		font-size: .8rem;
	}

	.steps small {
		font-size: .65rem;
		line-height: .65rem;
	}
}

.range-slider {
	width: 100%;
	margin-top: 20px;
}
  
.range-slider__range {
	height: 10px;
	border-radius: 5px;
	outline: none;
	padding: 0;
	margin: 0;

	&::-webkit-slider-thumb {
	  appearance: none;
	  width: 20px;
	  height: 20px;
	  border-radius: 50%;
	  background: #7D41EA;
	  cursor: pointer;
	}
  
	&:active::-webkit-slider-thumb {
	  background: #7D41EA;
	}
  
	&::-moz-range-thumb {
	  width: 20px;
	  height: 20px;
	  border: 0;
	  border-radius: 50%;
	  background: #7D41EA;
	  cursor: pointer;
	  transition: background .15s ease-in-out;
	}
  
	&:active::-moz-range-thumb {
	  background: #7D41EA;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.spinner-icon {
	font-size: 24px; 
	color: white;
}

.ant-picker {
	border: 1px solid #7D41EA !important;
	background-color: transparent !important;
	padding: 10px 11px 10px !important;
}
.ant-picker-input > input{
	font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #dee2e6 !important;
}
.ant-picker-suffix svg {
	color: white !important;
}
.ant-picker-clear svg {
	width: 0px !important;
}
.ant-image-mask{
  width: 0px !important;
  height: 0px !important;
}
