@font-face {
    font-family: 'Newtype';
    src: url('Newtype.woff2') format('woff2'),
        url('Newtype.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

